li{
  list-style: none;
}

.formElement{
  display: flex;
  flex-direction: column;
  gap: 3px;
  input,textarea{
    outline: solid;
    outline-color: #d3dce6;
    outline-width: 3px;
    padding: 13px;
    border-radius: 10px;
  }

}

.carouselBtnPrev{
  transition: background-color 200ms ease-in-out;
  transition-property: color;
  color: black;
  outline: solid;
  outline-color: #d3dce6;
  outline-width: 3px;

}

.carouselBtnPrev:hover{
  background-color: #175bb5;
  color: #d3dce6;
  outline: none;

}

.carouselBtnNext {
  background-color: none;
  transition: background-color 200ms ease-in-out;
  transition-property: color;



}

.carouselBtnNext:hover {
  background-color: transparent;
  outline-color: #d3dce6;
  outline-width: 3px;
  outline: solid;
  color: black;
    outline: solid;
    outline-color: #d3dce6;
    outline-width: 3px;

}
