li{
  list-style: none;
}

.formElement{
  display: flex;
  flex-direction: column;
  gap: 3px;
  input,textarea{
    outline: solid;
    outline-color: #d3dce6;
    outline-width: 3px;
    padding: 13px;
    border-radius: 10px;
  }

}


.Bio{
outline: solid;
  outline-color: #d3dce6;
  outline-width: 3px;
  padding: 13px;
  border-radius: 10px;

}

.carouselBtnPrev{
  transition: background-color 200ms ease-in-out;
  transition-property: color;

  outline: solid;
  outline-color: #d3dce6;
  outline-width: 3px;

}
.submitSkill{
  transition: background-color 200ms ease-in-out;
  transition-property: color;
}

.carouselBtnPrev:hover,.submitSkill:hover{
  background-color: #175bb5;
  color: #d3dce6;
  outline: none;

}

.carouselBtnNext {
  background-color: none;
  transition: background-color 200ms ease-in-out;




}
.tabIcon{
  transition: background-color 200ms ease-in-out;
    transition-property: color;

}

.tabIcon:hover{
  background-color: #9af3c2;

}
.content{

  height: 100%;
}
.carouselBtnNext:hover{
  background-color: transparent;
  outline-color: #d3dce6;
  outline-width: 3px;
  outline: solid;
  color: black;
  @media (prefers-color-scheme: dark) {

    color:white;
  }

    outline: solid;
    outline-color: #d3dce6;
    outline-width: 3px;

}

button:disabled{

  background-color: transparent;
  color:white;
  border: 2px solid #d3dce6;
}

.topBar{
  /* backdrop-filter: ; */
  backdrop-filter: blur(19px);
  backdrop-filter: blur(20000px);

}