li{
  list-style: none;
}

.formElement{
  display: flex;
  flex-direction: column;
  gap: 3px;
  input{
    outline: solid;
    outline-color: #d3dce6;
    outline-width: 3px;
    padding: 13px;
    border-radius: 10px;
  }

}
